@import "vars";

.s-font-text-s {
  font-family: $font-family-serif;
  font-size: $font-text-s-size;
  line-height: $font-text-s-line-height;
  color: $font-text-s-color;
  font-weight: $font-text-s-font-weight;

  &--strong {
    font-style: italic;
  }
}

.s-font-text {
  font-family: $font-family-serif;
  font-size: $font-text-size;
  line-height: $font-text-line-height;
  color: $font-text-color;
  font-weight: $font-text-font-weight;

  &--strong {
    font-style: italic;
  }
}

.s-font-note-s {
  font-family: $font-family-sans;
  font-size: $font-note-s-size;
  line-height: $font-note-s-line-height;
  color: $font-note-s-color;
  font-weight: $font-note-s-font-weight;

  &--strong {
    font-weight: $font-note-s--strong-font-weight;
  }

  &--light {
    color: $font-note-s--light-color;
  }

  &--superlight {
    color: $font-note-s--superlight-color;
  }

}

.s-font-note {
  font-family: $font-family-sans;
  font-size: $font-note-size;
  line-height: $font-note-line-height;
  color: $font-note-color;
  font-weight: $font-note-font-weight;

  &--strong {
    font-weight: $font-note--strong-font-weight;
  }

  &--light {
    color: $font-note--light-color;
  }

  &--superlight {
    color: $font-note--superlight-color;
  }
}

@mixin s-font-title() {
  font-family: $font-family-sans;
  color: $font-title-color;
  font-weight: $font-title-font-weight;
}

.s-font-title-xs {
  @include s-font-title;
  font-size: $font-title-xs-size;
  line-height: $font-title-xs-line-height;
}

.s-font-title-s {
  @include s-font-title;
  font-size: $font-title-s-size;
  line-height: $font-title-s-line-height;
}

.s-font-title {
  @include s-font-title;
  font-size: $font-title-size;
  line-height: $font-title-line-height;
}

.s-font-title-l {
  @include s-font-title;
  font-size: $font-title-l-size;
  line-height: $font-title-l-line-height;

  &--contrast {
    font-family: $font-family-serif;
    font-style: italic;
    font-weight: $font-title-l--contrast-font-weight;
  }
}

.s-font-title-xl {
  @include s-font-title;
  font-size: $font-title-xl-size;
  line-height: $font-title-xl-line-height;

  &--contrast {
    font-family: $font-family-serif;
    font-style: italic;
    font-weight: $font-title-xl--contrast-font-weight;
  }
}

.s-font-serif {
  font-family: $font-family-serif;
}

.s-font-sans {
  font-family: $font-family-sans;
}
