@import "vars";
@import "sophie-color/scss/vars";

.s-font-text-s {
  font-family: $font-family-serif;
  font-size: $font-text-s-size;
  line-height: $font-text-s-line-height;
  color: $s-color-gray-8;
  font-weight: 400;

  &--strong {
    font-style: italic;
  }
}

.s-font-text {
  font-family: $font-family-serif;
  font-size: $font-text-size;
  line-height: $font-text-line-height;
  color: $s-color-gray-8;
  font-weight: 400;

  &--strong {
    font-style: italic;
  }
}

.s-font-note-s {
  font-family: $font-family-sans;
  font-size: $font-note-s-size;
  line-height: $font-note-s-line-height;
  color: $s-color-gray-8;
  font-weight: 400;

  &--strong {
    font-weight: 700;
  }

  &--light {
    color: $s-color-gray-6;
  }

  &--superlight {
    color: $s-color-gray-5;
  }

}

.s-font-note {
  font-family: $font-family-sans;
  font-size: $font-note-size;
  line-height: $font-note-line-height;
  color: $s-color-gray-8;
  font-weight: 400;

  &--strong {
    font-weight: 700;
  }

  &--light {
    color: $s-color-gray-6;
  }

  &--superlight {
    color: $s-color-gray-5;
  }
}

@mixin s-font-title() {
  font-family: $font-family-sans;
  color: $s-color-gray-8;
  font-weight: 700;
}

.s-font-title-xs {
  @include s-font-title;
  font-size: $font-title-xs-size;
  line-height: $font-title-xs-line-height;
}

.s-font-title-s {
  @include s-font-title;
  font-size: $font-title-s-size;
  line-height: $font-title-s-line-height;
}

.s-font-title {
  @include s-font-title;
  font-size: $font-title-size;
  line-height: $font-title-line-height;
}

.s-font-title-l {
  @include s-font-title;
  font-size: $font-title-l-size;
  line-height: $font-title-l-line-height;

  &--contrast {
    font-family: $font-family-serif;
    font-style: italic;
    font-weight: 400;
  }
}

.s-font-title-xl {
  @include s-font-title;
  font-size: $font-title-xl-size;
  line-height: $font-title-xl-line-height;

  &--contrast {
    font-family: $font-family-serif;
    font-style: italic;
    font-weight: 400;
  }
}

.s-font-serif {
  font-family: $font-family-serif;
}

.s-font-sans {
  font-family: $font-family-sans;
}
