@import 'vars';

@mixin font-color() {
  color: #000000; // fallback
  color: $font-color;
}

@mixin s-font-text() {
  font-family: $font-family-serif;
  font-weight: $font-weight-serif-regular;
  @include font-color;
}

.s-font-text-s {
  line-height: $font-text-s-line-height;
  font-size: $font-text-s-size;
  @include s-font-text;

  &--strong {
    font-weight: $font-weight-serif-bold;
  }
}

.s-font-text {
  font-size: $font-text-size;
  line-height: $font-text-line-height;
  @include s-font-text;

  &--strong {
    font-weight: $font-weight-serif-bold;
  }
}

@mixin s-font-note() {
  font-family: $font-family-sans;
  font-weight: $font-weight-sans-regular;
	@include font-color;

	:root:not(:has(.font-sans)) & {
		//we're in nuxt territory
		font-weight: $font-weight-sans-nuxt-regular;
	}

  &--strong {
    font-weight: $font-weight-sans-bold;
  }

  &--light {
    font-weight: $font-weight-sans-light;

	  :root:not(:has(.font-sans)) & {
			//we're in nuxt territory
			font-weight: $font-weight-sans-nuxt-light;
		}
  }

  // Use to enable fixed-width numerals for charts and tables
  &--tabularnums {
    font-feature-settings: 'tnum' 1; // Fallback for IE11
    font-variant-numeric: tabular-nums; // Modern browsers
  }
}

.s-font-note-s {
  font-size: $font-note-s-size;
  line-height: $font-note-s-line-height;
  @include s-font-note;
}

.s-font-note {
  font-size: $font-note-size;
  line-height: $font-note-line-height;
  @include s-font-note;
}

@mixin s-font-title() {
  font-family: $font-family-sans;
  font-weight: $font-weight-sans-bold;
  @include font-color;
}

.s-font-title-s {
  @include s-font-title;
  font-size: $font-title-s-size;
  line-height: $font-title-s-line-height;
}

.s-font-title {
  @include s-font-title;
  font-size: $font-title-size;
  line-height: $font-title-line-height;
}

.s-font-title-l {
  @include s-font-title;
  font-size: $font-title-l-size;
  line-height: $font-title-l-line-height;
}

.s-font-serif {
  font-family: $font-family-serif;
  font-weight: $font-weight-serif-regular;
}

.s-font-sans {
  font-family: $font-family-sans;
  font-weight: $font-weight-sans-regular;
}

@mixin s-font-ui() {
  font-family: $font-family-sans;
  font-weight: $font-weight-sans-regular;
  @include font-color;

  &--strong {
    font-weight: $font-weight-sans-bold;
  }

  &--light {
    font-weight: $font-weight-sans-light;
  }

  // Use to enable fixed-width numerals for charts and tables
  &--tabularnums {
    font-feature-settings: 'tnum' 1; // Fallback for IE11
    font-variant-numeric: tabular-nums; // Modern browsers
  }
}

.s-font-ui {
  font-size: $font-ui-size;
  line-height: $font-ui-line-height;
  @include s-font-ui;
}

.s-font-ui-s {
  font-size: $font-ui-s-size;
  line-height: $font-ui-s-line-height;
  @include s-font-ui;
}
