@import "sophie-color/vars/general.json";

$font-family-sans: nzz-sans-serif, Helvetica, Arial;
$font-family-sans-mono: nzz-sans-serif-mono, Courier;
$font-family-serif: nzz-serif, Georgia;

$font-color: $s-color-gray-9;
$font-color-light: $s-color-gray-7;
$font-color-superlight: $s-color-gray-5;

$font-weight-serif-regular: 100;
$font-weight-serif-bold: 500;

$font-weight-sans-light: 50;
$font-weight-sans-regular: 100;
$font-weight-sans-bold: 500;

$font-text-s-size: 18px;
$font-text-s-line-height: 28px;

$font-text-size: 20px;
$font-text-line-height: 32px;

$font-note-s-size: 12px;
$font-note-s-line-height: 16px;

$font-note-size: 14px;
$font-note-line-height: 22px;

$font-note-l-size: 16px;
$font-note-l-line-height: 28px;

$font-title-s-size: 20px;
$font-title-s-line-height: 26px;

$font-title-size: 24px;
$font-title-line-height: 32px;

$font-title-l-size: 28px;
$font-title-l-line-height: 38px;
