@import "sophie-color/scss/vars";

$font-family-sans: nzz-sans-serif, Helvetica, Arial;
$font-family-serif: nzz-serif, Georgia;

$font-color: $s-color-gray-9;
$font-color-light: $s-color-gray-7;
$font-color-superlight: $s-color-gray-5;

$font-weight-sans: 100;
$font-weight-serif: 300;
$font-weight-bold: 500;

$font-text-s-size: 17px;
$font-text-s-line-height: 23px;
$font-text-size: 18px;
$font-text-line-height: 26px;

$font-note-s-size: 11px;
$font-note-s-line-height: 14px;

$font-note-size: 13px;
$font-note-line-height: 17px;

$font-title-xs-size: 20px;
$font-title-xs-line-height: 22px;
$font-title-s-size: 22px;
$font-title-s-line-height: 24px;
$font-title-size: 24px;
$font-title-line-height: 26px;
$font-title-l-size: 27px;
$font-title-l-line-height: 31px;
$font-title-xl-size: 42px;
$font-title-xl-line-height: 46px;
