$font-family-sans:  nzz-sans-serif, var(--nzz-font-sans, "NZZ Sans"), -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$font-family-serif: nzz-serif, var(--nzz-font-serif, "NZZ Serif"), "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// --q-primary-text-color is defined in nzzdev/sophie-q
// .s-q-item
$font-color: var(--q-primary-text-color, #000000);

$font-weight-serif-nuxt-regular: 300;
$font-weight-serif-regular: 400;
$font-weight-serif-bold: 500;

$font-weight-sans-nuxt-light: 50;
$font-weight-sans-nuxt-regular: 100;
$font-weight-sans-light: 300;
$font-weight-sans-regular: 400;
$font-weight-sans-bold: 500;

$font-text-s-size: 18px;
$font-text-s-line-height: 28px;

$font-text-size: 20px;
$font-text-line-height: 32px;

$font-note-s-size: 12px;
$font-note-s-line-height: 16px;

$font-note-size: 14px;
$font-note-line-height: 20px;

$font-title-s-size: 14px;
$font-title-s-line-height: 22px;

$font-title-size: 16px;
$font-title-line-height: 22px;

$font-title-l-size: 18px;
$font-title-l-line-height: 24px;

// Based on https://www.figma.com/file/QqppDkF7HeCWmet6IS7Y4Y/NZZ-Design-System-2020?node-id=22%3A136
$font-ui-size: 1rem; // This is currently 16px
$font-ui-line-height: 1.5rem; // This translates to 24px

$font-ui-s-size: 0.875rem; // This would correspondent to 14px
$font-ui-s-line-height: 1.375rem; // This would correspondent to 22px

// Provides fallback values for all cases where we depend on the old @font-face definitions.
// @todo Replace once the old webview has been retired.
@mixin nuxt-fallback($font-weight) {
		:is(
			#__nzz #__layout, /* nuxt IDs, should avoid the performance penalty of :not(:has()) */
			#webviev, /* Webview ID */
			:not(:has(.font-sans)) /* Fallback for Q editor and print export */
		) & {
		font-weight: $font-weight;
	}
}
